body {
    background-color: #faf5ff;
    font-family: 'Pacifico', cursive;
    margin: 0;
    padding: 20px;
    color: #6b21a8;
}

h1 {
    text-align: center;
    font-size: 2.5em;
    margin-bottom: 20px;
}

#creditos {
    font-size: 1.5em;
    text-align: center;
    margin-bottom: 30px;
}

.semestre {
    margin-bottom: 30px;
    border: 2px solid #e9d5ff;
    background: #f3e8ff;
    border-radius: 20px;
    padding: 15px;
}

.semestre h2 {
    text-align: center;
    color: #7e22ce;
}

.malla {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
}

.curso {
    background-color: #ede9fe;
    border: 2px solid #c4b5fd;
    border-radius: 12px;
    padding: 10px;
    width: 230px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    transition: transform 0.2s;
}

.curso:hover {
    transform: scale(1.02);
}

.bloqueado {
    opacity: 0.5;
    background-color: #e9d5ff;
}

.tachado label {
    text-decoration: line-through;
    color: #9f7aea;
}
